{% extends 'base.html' %}
{% load static %}
{% block content %}

          <p class="new"> О нас </p>
    <hr>
<div class="content">

    <h4><b>Аптечная сеть Pharma - это первая национальная сеть, обьединяющая под торговой маркой "Pharma" аптеки в нескольких городах Украины. </b>
         <img src="../static/tabl.jpg" width="500" height="300" class="righting">
   <p>Мы постоянно увеличиваем количество аптек,чтобы сделать уровень обслуживание еще доступнее.</p>
  <p>  <b> Pharma - это не просто сеть аптек.</b></p>
        <p>Это высококлассна команда профессионалов в своей специализации, способная быстро и качественно выполнять поставленные задачи.</p>
   <p> <b>Pharma - это передовой уровень представленных решений.</b></p>
        <p>Чтобы сделать процесс обслуживания и консультации комфортным и притяным, нащи аптеки работают по европейскому формату фарммаркетов и товары в них находятся в свободном доступе.</p>
    </h4> </div>
</hr>
{% endblock %}
