{% extends 'base.html' %}
{% load static %}
{% block content %}


          <div class="section section1">

                <div class="container">
                  <div class="row">
                     <div class="nadpis">
                        <p>
                            Новые поступления
                        </p>
                     </div>
                      <hr></hr>
                     <!-- {% for product_image in products_images %}
                         {% include 'landing/product_item.html' %}
                      {% endfor %}--!>

                 </div>
               </div>
          </div>
<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner" role="listbox">
    {% for product_image in products_images %}
    {% if forloop.counter == 1 %}
    <div class="item active">
    {% else %}
    <div class="item">
    {% endif %}
        <img src="{{ product_image.image.url }}" width="200" height="100">
  <div class="carousel-caption">
    <h3>{{ product_image.product.name }}</h3>
    <p>{{ product_image.product.price }} грн.</p>
  </div>
    </div>
    {% endfor %}
    </div>
    <a class="carousel-control-prev" href="#carouselExampleSlidesOnly" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
      <a class="carousel-control-next" href="#carouselExampleSlidesOnly" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
 </div>
</div>

<div class="container">
        <div class="niz">
             <h3 class="text-center"> Теперь заказать медикаменты стало еще проще!</h3>
              <div class="foot-container">
                <div><img src="../static/галочка.png" width="50" height="50"><p>Выбрать нужный товар</p></div>
                 <div><img src="../static/order.png" width="50" height="50"><p>Оформить заказ </p></div>
                 <div><img src="../static/4.jpg" width="50" height="50"><p>Выбрать удобный способ оплаты</p></div>
                  <div><img src="../static/truck.png" width="50" height="50"><p>Доставка в удобное для Вас место</p> </div>
              </div>
        </div>
    </div>
<div class="footer">
    <div class="contacts">
    <div><img src="static/main.png" height="100" width="150"></div>
    <div><p><b> График работы</b></p><p>ПН-ПТ 8:00-20:00</p></div>
    <div><p><b>Администратор</b></p><p>0(800)505155 </p></div>
    </div>
</div>
{% endblock %}

